<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hugging AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href ="css/style.css">
    

</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper">
                <nav class="header_nav">
                    <ul class="header_list">
                        <li class="head_item">
                            <a href="" class="header_link">gallery</a>
                        </li>

                        <li class="head_item">
                            <a href="" class="header_link">generator</a>
                        </li>

                        <li class="head_item">
                            <a href="" class="header_link">contact</a>
                        </li>

                        <li class="head_item">
                            <a href="" class="header_link">FAQ</a>
                        </li>

                        <button class="sign-in">Sign in</button>

                    </ul>
                
                </nav>
            </div>
        </div>
    </header>



    <main class="main">
        <section class="intro">
            <div class="wrapper">
                
                <h3 class="mini_title">Next-gen content creation with</h3>
                <h1 class="title"> Hugging Face API</h1>
            </div>
        </section>
        <section class="hero">
            <div class="wrapper">
                <h2 class="hero_title">Create anything with Open-Source AI</h2>
                <p class="hero_text">Generate images, audio, and video - powered by Hugging Face models. No setup. No coding. Just creativity.</p>
                <button class="start_button">START NOW</button>
            </div>
        </section>
        <section class="preview">
            <div class="wrapper">
                <h2 class="preview_title">Turn imagination into Reality</h2>

                <div class="preview_cards">
                    <div class="preview_card">
                        <div class="preview_card_pic">
                            <img src="./img/SVG/write-icon.svg" alt="Write" class="preview_icon1">
                        </div>
                        <h3 class="preview_card_title">
                            Write
                        </h3>
                        <p class="preview_card_desc1">
                            From stories to slogans - just type your idea and watch words come alive
                        </p>
                    </div>
                    <div class="preview_card">
                        <div class="preview_card_pic">
                            <img src="./img/SVG/visualize-icon.svg" alt="Visualize" class="preview_icon1">
                        </div>
                        <h3 class="preview_card_title">
                            Visualize
                        </h3>
                        <p class="preview_card_desc2">
                            Create artwork and concepts that exist only in your mind
                        </p>
                    </div>
                    <div class="preview_card">
                        <div class="preview_card_pic">
                            <img src="./img/SVG/hear-icon.svg" alt="Hear" class="preview_icon1">
                        </div>
                        <h3 class="preview_card_title">
                            Hear
                        </h3>
                        <p class="preview_card_desc3">
                            Give your creations a voice - generate soundscapes or narration effortlessly
                        </p>
                    </div>
                </div>
            </div>
        </section>



        <div class="img-container">
            <section class="how_to_use">
                <div class="wrapper">
                <h2 class="how_to_use_title">Learn how it works</h2>
                <div class="steps">
                    <p class="step1">
                         Pick a mode: Text / Image / Audio
                    </p>
                    <p class="step2">
                         Type a single-line prompt - one sentence is enough
                    </p>
                    <p class="step3">
                         Hit Generate - get results in seconds
                    </p>
                </div>
                <div class="button-container">
                    <button class="try_button">Try now</button>
                </div>
               
            </section>

            <section class="contact">
                <div class="wrapper">
                    <h2 class="contact_title">Let's talk</h2>
                    <p class="contact_desc">Got ideas, feedback or just want to say hi?<br>
                        Drop us a message - we’d love to hear from you!</p>
            
                </div>
                

            </section>
        </div>
        
    </main>
    
    
</body>
</html>